body {
background-color: aliceblue;
}

.form1{
    padding: 40px;
    background: mediumturquoise;
}

.ec3  {
background: red;
color: honeydew;
}

.ec4{
    background: black;
    color: honeydew;
}
*{
    
}
